<h1>Editing Profile #<%= @profile.id %></h1>


<%= form_tag(profile_url(@profile), method: 'put') do %>

  <div>
    <%= label_tag :name %><br />
    <%= text_field_tag :name, @profile.name %>
  </div>

  <div>
    <%= label_tag :meet_pref %><br />
    <%= text_field_tag :meet_pref, @profile.meet_pref %>
  </div>

  <div>
    <%= label_tag :avail_times %><br />
    <%= text_field_tag :avail_times, @profile.avail_times %>
  </div>

  <div>
    <%= label_tag :bio %><br />
    <%= text_area_tag :bio, @profile.bio %>
  </div>

  <!--  <div>
    <%= label_tag :network %><br />
    <% Network.all.each do |network| %>
        <option value="<%= network.id %>"><%= network.name %></option>
    <% end %>
    </select>
    <%= select_tag :network_id, options_from_collection_for_select(Network.all, :id, :name ) %>
   </div> -->

  <div>
    <%= submit_tag "Update Profile" %>
  </div>

<% end %>
