<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Meet pref</th>
      <th>Avail times</th>
      <th>Bio</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @profiles.each do |profile| %>
    <tr>
      <td><%= profile.name %></td>
      <td><%= profile.meet_pref %></td>
      <td><%= profile.avail_times %></td>
      <td><%= profile.bio %></td>
      <td><%= profile.user_id %></td>

    </tr>
  <% end %>
  </tbody>
</table>

