<h1>  <%= @profile.name %>'s Profile:</h1>
<div class="container_med">


<p>
  <b>Meet pref:</b>
  <%= @profile.meet_pref %>
</p>

<p>
  <b>Avail times:</b>
  <%= @profile.avail_times %>
</p>

<p>
  <b>Bio:</b>
  <%= @profile.bio %>
</p>

<p>
  <b>Email Address: </b>
  <%= User.find_by_id(@profile.user_id).email%>
</p>

<%= link_to 'Edit', edit_profile_url(@profile.user_id), class: "btn btn-small btn-success" %>
<%= link_to 'Destroy', profile_url(@profile.user_id), method: 'delete',class: "btn btn-small btn-danger", data: { confirm: "You sure?" } %><br>
</div>0
