<h1>New Idea</h1>


<%= form_tag(ideas_url, method: 'post') do %>


  <div>
    <%= label_tag :name %><br />
    <%= text_field_tag :name %>
  </div>

    <div>
    <%= label_tag :caption %><br />
    <%= text_field_tag :caption %>
  </div>

    <div>
    <%= label_tag :user_id %><br />
    <%= number_field_tag :user_id %>
  </div>

    <div>
    <%= label_tag :group_id %><br />
    <%= number_field_tag :group_id %>
  </div>


  <div>
    <%= submit_tag "Create Idea" %>
  </div>
<% end %>
