<h1>Idea #<%= @idea.id %></h1>

<p>
  <b>Name:</b>
  <%= @idea.name %>
</p>

<p>
  <b>Caption:</b>
  <%= @idea.caption %>
</p>

<p>
  <b>Timestamp:</b>
  <%= @idea.timestamp %>
</p>

<p>
  <b>User:</b>
  <%= @idea.user_id %>
</p>

<p>
  <b>Group:</b>
  <%= @idea.group_id %>
</p>


