<h1>Editing Network #<%= @network.id %></h1>


<%= form_tag(network_url(@network), method: 'put') do %>

  <div>
    <%= label_tag :name %><br />
    <%= text_field_tag :name, @network.name %>
  </div>

  <div>
    <%= label_tag :caption %><br />
    <%= text_field_tag :caption, @network.caption %>
  </div>

  
  <div>
    <%= submit_tag "Update Network" %>
  </div>

<% end %>
