<h1><%= @network.name %></h1>
        <%= link_to "+Group", new_group_url, class: "btn btn-success" %>
        <%= link_to "+Post", new_post_url, class: "btn btn-success"  %>

<div class="clearfix:after">
  <div class="sidebar left">
    <h4>Users: (<%= @network.profiles.count %>)</h4>
    <% @network.profiles.each do |x| %>
    <li><%= link_to x.name , profile_url(x.id) %></li>
    <% end %>
  </div>
  <div class="container_med left">


  <% @posts.each do |post| %>
  <div class="posts">
      <li class="bold"><%=post.title%><li>
      <p><%= post.caption %></p>
      <p class = "stamp"><%= post.timestamp.to_date %>
      <% p=Profile.find_by_user_id(post.user_id) %>
      <% if p  %>
        <%= p.name %></p>
      <% end %>
        <% if current_user.id==post.user_id %>
        <%= link_to 'Edit', edit_post_url(post) %>
        <%= link_to 'Destroy', post_url(post), method: 'delete', data: { confirm: "Do you really want to delete this post?" } %>
        <% end %>
  </div><br>
  <% end %>

  </div>


  <div class="sidebar right">
    <h4>Groups: (<%= Group.all.count %>)</h4>
    <% Group.all.each do |x| %>
     <li><%= link_to x.name , group_url(x.id) %></li>
    <% end %>
  </div>

</div>

