<h1><%= @network.name %></h1>
        <%= link_to "+Group", new_group_url, class: "btn btn-success" %>
        <%= link_to "+Post", new_post_url, class: "btn btn-success"  %>

<div class="clearfix:after">
  <div class="container_med left">
    <h4>Feed:</h4>


  <% @posts.each do |post| %>
  <div class="posts">
      <h5><%= post.title %><li>
      <p><%= post.caption %></p>
      <p><%= post.timestamp.to_date %>
      <% p=Profile.find_by_user_id(post.user_id) %>
      <% if p  %>
        <%= p.name %></p>
      <% end %>
        <p><%= post.group_id %></p>
        <%= link_to 'Edit', edit_post_url(post) %>
        <%= link_to 'Destroy', post_url(post), method: 'delete', data: { confirm: "Do you really want to delete this post?" } %>
  </div><br>
  <% end %>

  </div>

  <div class="sidebar right">
    <h4>Users:</h4>
    <% @network.profiles.each do |x| %>
    <%= x.name %><br>
    <% end %>
  </div>
  <div class="sidebar left">
    <h4>Groups:</h4>
    <% @network.groups.each do |x| %>
    <%= x.name %>
    <% end %>
  </div>

</div>

