<h1>New Group</h1>


<%= form_tag(groups_url, method: 'post') do %>


  <div>
    <%= label_tag :name %><br />
    <%= text_field_tag :name %>
  </div>

    <div>
    <%= label_tag :caption %><br />
    <%= text_field_tag :caption %>
  </div>

    <div>
    <%= label_tag :member_limit %><br />
    <%= number_field_tag :member_limit %>
  </div>

  
  <div>
    <%= submit_tag "Create Group" %>
  </div>
<% end %>
