<h1>Group #<%= @group.id %></h1>

<p>
  <b>Name:</b>
  <%= @group.name %>
</p>

<p>
  <b>Caption:</b>
  <%= @group.caption %>
</p>
<p>
  <b>Members:</b>
  <% @group.users.each do |x| %>
  <%= link_to x.profile.name , profile_url(x.id) %>

  <% end %>
</p>

<%= link_to "Join group" , membership_url(@group.id) %>
