<h1>Event #<%= @event.id %></h1>

<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Caption:</b>
  <%= @event.caption %>
</p>

<p>
  <b>Date:</b>
  <%= @event.date %>
</p>

<p>
  <b>Start time:</b>
  <%= @event.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @event.end_time %>
</p>

<p>
  <b>Timestamp:</b>
  <%= @event.timestamp %>
</p>

<p>
  <b>User:</b>
  <%= @event.user_id %>
</p>

<p>
  <b>Group:</b>
  <%= @event.group_id %>
</p>


