<!DOCTYPE html>
<html>
<head>
  <title>Startershipper</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
    <%= image_tag("/assets/logo.png") %>
  </div>
  <div class='container'
    <%= notice %>
    <nav>
      <%= link_to "Home", home_url %> |
        <% if session[:network_id] %>
          <%= link_to 'news feed', network_url(current_user.network_id) %> |
          <% end %>
      <% if user_signed_in? %>
        <%= link_to "users", profiles_url %> |
          <%= link_to "Edit Profile", new_profile_url, class: "btn btn-s" %> | <---- Remember to Update this before posting!
       <% end %>
   </nav>
   <form class="navbar-form pull-right">
                 <% if user_signed_in? %>
                    Signed in as <%= current_user.email %>. Not you?
                    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
                  <% else %>
                    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
                <% end %>
  </form>
<%= yield %>
</div>
</body>
</html>
